
<div class="row" style="position: relative; margin-bottom: 5px">
  <h1 style="float: left"> <%= @park.name %> </h1>
</div>

<div class="row">
  <div class="well col-md-4">
    <pre><%=@park.description%></pre>
    <pre><%=@park.picture%></pre>
  </div>
</div>

<div class="row">
  <%= link_to "Back", "/parks", class: "btn btn-primary" %>
</div>
